html {
  height: 100%;
  width: 100%;

  body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Quicksand", sans-serif !important;

    #__nuxt {
      height: 100%;
    }

    .page-content {
      height: 100%;
      padding: 10px;
    }
  }
}