.page-enter-active,
.page-leave-active {
  transition: opacity .25s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity .18s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}