NUXT_PUBLIC_WEREWOLVES_ASSISTANT_API_BASE_URL="http://127.0.0.1:8080"
NUXT_PUBLIC_DEFAULT_LOCALE="en"
NUXT_PUBLIC_CONTACT_EMAIL="john@doe.com"
NUXT_SITE_URL="http://127.0.0.1:3000"
NUXT_SITE_NAME="Werewolves Assistant"
NUXT_SITE_ENV="development"
NUXT_SITE_DESCRIPTION="The perfect tool for game masters of the Werewolves of Miller's Hollow™"