name: 游늼 Deploy Reports to GitHub Pages

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch reports to deploy'
        required: true
        default: 'main'

      caller-run-id:
        description: 'ID of the workflow that called this one'
        required: true

env:
  REPORTS_URL: https://antoinezanardi.github.io/werewolves-assistant-web-next/reports
  UNIT_TESTS_COVERAGE_REPORTS_PATH: tests/unit/coverage
  ACCEPTANCE_TESTS_REPORTS_PATH: tests/acceptance/reports
  STRYKER_REPORT_PATH: tests/stryker/coverage
  GH_TOKEN: ${{ github.token }}

jobs:
  format-branch-name:
    name: Format Branch Name for Reports 游꼒
    runs-on: ubuntu-latest
    steps:
      - name: Set branch name for reports in env 游꼒
        id: format-branch-name
        run: echo "BRANCH_NAME_FORMATTED_FOR_REPORTS=$(echo ${{ github.event.inputs.branch }} | sed 's/\//-/g')" >> "$GITHUB_OUTPUT"

    outputs:
      formatted-branch-for-reports: ${{ steps.format-branch-name.outputs.BRANCH_NAME_FORMATTED_FOR_REPORTS }}

  wait-for-concurrent-jobs:
    name: Wait for concurrent jobs to finish 游
    runs-on: ubuntu-latest
    needs: format-branch-name
    steps:
      - name: Checkout GitHub repository 游니
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0

      - name: Wait for concurrent jobs to finish 游
        run: ./scripts/wait-for-other-reports-to-be-deployed.sh ${{ github.run_number }}

  deploy-unit-tests-reports:
    name: Deploy Unit Tests Reports
    runs-on: ubuntu-latest
    needs:
      - format-branch-name
      - wait-for-concurrent-jobs
    env:
      BRANCH_NAME_FORMATTED_FOR_REPORTS: ${{ needs.format-branch-name.outputs.formatted-branch-for-reports }}
    steps:
      - name: Checkout GitHub repository 游니
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0

      - name: Download unit tests coverage from artifacts 游눑
        id: download-unit-tests-coverage
        uses: actions/download-artifact@v4
        with:
          name: unit-tests-coverage-report
          run-id: ${{ github.event.inputs.caller-run-id }}
          github-token: ${{ secrets.GH_PAGES_REPORTS_TOKEN }}
          path: ${{ env.UNIT_TESTS_COVERAGE_REPORTS_PATH }}

      - name: Save unit tests reports in GitHub Pages 游늼
        uses: PavanMudigonda/html-reporter-github-pages@v1.2
        if: steps.download-unit-tests-coverage.outcome == 'success'
        with:
          test_results: ${{ env.UNIT_TESTS_COVERAGE_REPORTS_PATH }}
          report_url: ${{ env.REPORTS_URL }}
          keep_reports: 1
          gh_pages: gh_pages
          subfolder: reports
          tool_name: vitest
          workflow_name: ${{ env.BRANCH_NAME_FORMATTED_FOR_REPORTS }}
          env: ""
          token: ${{ secrets.GH_PAGES_REPORTS_TOKEN }}

  deploy-acceptance-tests-reports:
    name: Deploy Acceptance Tests Reports
    runs-on: ubuntu-latest
    needs:
      - format-branch-name
      - deploy-unit-tests-reports
    env:
      BRANCH_NAME_FORMATTED_FOR_REPORTS: ${{ needs.format-branch-name.outputs.formatted-branch-for-reports }}
    steps:
      - name: Checkout GitHub repository 游니
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0

      - name: Download acceptance tests reports from artifacts 游눑
        id: download-acceptance-tests-reports
        uses: actions/download-artifact@v4
        with:
          name: e2e-tests-reports
          run-id: ${{ github.event.inputs.caller-run-id }}
          github-token: ${{ secrets.GH_PAGES_REPORTS_TOKEN }}
          path: ${{ env.ACCEPTANCE_TESTS_REPORTS_PATH }}

      - name: Save acceptance tests reports in GitHub Pages 游늼
        uses: PavanMudigonda/html-reporter-github-pages@v1.2
        if: steps.download-acceptance-tests-reports.outcome == 'success'
        with:
          test_results: ${{ env.ACCEPTANCE_TESTS_REPORTS_PATH }}
          report_url: ${{ env.REPORTS_URL }}
          keep_reports: 1
          gh_pages: gh_pages
          subfolder: reports
          tool_name: cucumber
          workflow_name: ${{ env.BRANCH_NAME_FORMATTED_FOR_REPORTS }}
          env: ""
          token: ${{ secrets.GH_PAGES_REPORTS_TOKEN }}

  deploy-stryker-reports:
    name: Deploy Stryker Reports
    runs-on: ubuntu-latest
    needs:
      - format-branch-name
      - deploy-acceptance-tests-reports
    env:
      BRANCH_NAME_FORMATTED_FOR_REPORTS: ${{ needs.format-branch-name.outputs.formatted-branch-for-reports }}
    steps:
      - name: Checkout GitHub repository 游니
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0

      - name: Download stryker tests reports coverage from artifacts 游눑
        id: download-stryker-reports
        uses: actions/download-artifact@v4
        with:
          name: stryker-html-report
          run-id: ${{ github.event.inputs.caller-run-id }}
          github-token: ${{ secrets.GH_PAGES_REPORTS_TOKEN }}
          path: ${{ env.STRYKER_REPORT_PATH }}

      - name: Save stryker reports in GitHub Pages 游늼
        uses: PavanMudigonda/html-reporter-github-pages@v1.2
        if: steps.download-stryker-reports.outcome == 'success'
        with:
          test_results: ${{ env.STRYKER_REPORT_PATH }}
          report_url: ${{ env.REPORTS_URL }}
          keep_reports: 1
          gh_pages: gh_pages
          subfolder: reports
          tool_name: stryker
          workflow_name: ${{ env.BRANCH_NAME_FORMATTED_FOR_REPORTS }}
          env: ""
          token: ${{ secrets.GH_PAGES_REPORTS_TOKEN }}